.circle {
    border-radius: 50%;
    position: relative;
    width: calc(100% + 20px);
    animation: rotating 20s linear infinite;
    max-width: 70%;
}

.circle:hover {
    animation-play-state: paused;
}

.MuiGrid-grid-xs-4 {
    flex-grow: 1 !important;
    max-width: 100% !important;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
