body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.circle {
    border-radius: 50%;
    position: relative;
    margin: 0 -10px;
    width: calc(100% + 20px);
    animation: rotating 20s linear infinite;
}

.p-3 {
    padding: 10px;
}

.decor-none {
    text-decoration: none;
}

.pr-5 {
    padding-right: 25px;
}

.flex {
    display: flex;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
