body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.capital {
    text-transform: capitalize;
}

.circle {
    border-radius: 50%;
    position: relative;
    /* margin: 0 -10px; */
    width: calc(100% + 20px);
    animation: rotating 20s linear infinite;
    max-width: 70%;
}

.circle:hover {
    animation-play-state: paused;
}

.link-decor {
    text-decoration: none;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
